
@use 'base' as *;

#progressBarContainer {
    width: 80%;
    margin: auto;
    background-color: #f3f3f3;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#progressBar {
    height: 20px;
    background-color: $header-footer-color;
    width: 0%;
    border-radius: 3px;
    transition: width 0.4s ease-in-out;
    background-image: linear-gradient(
        to right,
        $header-footer-color 0%,
        rgba(255, 255, 255, 0.2) 50%,
        $header-footer-color 100%
    );
    background-size: 200% 100%;
    animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}